### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Sass ###
.sass-cache
*.css.map

## Npm ##
data-sourcing/node_modules/**/*
