Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^map?$ index.php?page=$1 [L]
RewriteRule ^(battle)([1-9])?$ index.php?page=$1&id=$2 [L]
RewriteRule ^([\w]+)\/([\w]+)?$ index.php?json=battle_by_name&name=$1&data_type=$2 [L]
